<h1>Google Books API</h1>

<form action="/" method="post">
    <input type="search" name="newSearch" placeholder="Search" autocomplete="off">
    <button type="submit" name="button">Search</button>
    <select name="orderBy" id="">
        <option name="newest" value="newest">newest</option>
        <option name="relevance" value="relevance">relevance</option>
    </select>
</form>
<div class="results">

</div>
